* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}
.main-content {
  flex: 1;
}


body {
  display: flex;
  flex-direction: column;
}


body {
  background: #f5f5f5;
}

.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}

body.dark .navbar{
    background-color: rgb(39, 39, 39);
    color: white;
}

body.dark .fa-user, 
body.dark .fa-cart-shopping,
body.dark .nav-links a,
body.dark .fa-sun,
body.dark .logo
{
    color: white;
}

body.dark .search-box input{
    background-color: rgb(154, 154, 154);
    color: white;
    border: none;
}



/*=================== navbar =========================*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}

.logo span {
  color: #2b7cff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
}

.nav-links a:hover {
  color: #2b7cff;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 7px 30px 7px 12px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.search-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

.icon {
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.cart {
  position: relative;
}

.badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: #fff;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}


.menu-btn {
  display: none;
  font-size: 22px;
  cursor: pointer;
}


@media (max-width: 992px) {

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}


@media (max-width: 600px) {

  .search-box input {
    width: 130px;
  }

  .nav-right {
    gap: 10px;
  }
}


/*=================== Message =========================*/



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.active{
    opacity: 1;
  visibility: visible;
}


.modal {
  background: #fff;
  width: 420px;
  padding: 30px 25px;
  border-radius: 16px;
  text-align: center;
  position: relative;
}


.close {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 22px;
  cursor: pointer;
  color: #777;
}


.icon-msg {
  font-size: 40px;
  margin-bottom: 15px;
}


.modal h2 {
  margin-bottom: 10px;
  font-size: 22px;
}


.modal p {
  color: #666;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.modal button {
  background: #22c55e;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.modal button:hover {
  background: #16a34a;
}


/*================ filterProducts ============================*/

.filterProducts {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

#pageTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
  position: relative;
  margin-top: 100px;
}

#pageTitle::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #2196f3;
  display: block;
  margin: 10px auto 0;
}

.filterGroup {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  max-width: 1100px;
  margin: 0 auto;
}

.filter-select {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

body.dark .filter-select{
  background-color: rgb(39, 39, 39);
  color: white;
}

/*================ container ============================*/



.container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
    margin: 100px;
}


.product-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

body.dark .product-card,
body.dark .img-box
{
    background-color: rgb(39, 39, 39);
}

.img-box {
  height: 260px;               
  display: flex;
  align-items: center;       
  justify-content: center;    
  background: #fff;
}

.img-box img {
  width: 65%;                  
  max-height: 90%;
  object-fit: contain;       
}


.card-body {
  padding: 15px;
}

.category {
  font-size: 12px;
  color: #999;
}

.card-body h3 {
  font-size: 15px;
  margin: 8px 0;
  line-height: 1.4;
}

.card-body p {
  font-size: 13px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.rating {
  color: #fbbf24;
  font-size: 14px;
}

.rating span {
  color: #777;
  font-size: 12px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions button {
  flex: 1;
  background: #2196f3;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.actions button i {
  margin-right: 6px;
}

.actions button:hover {
  background: #1976d2;
}

.wishlist {
  font-size: 20px;
  color: #777;
  cursor: pointer;
}

.wishlist:hover {
  color: red;
}


.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}


.actions button {
  transition:  0.3s ease, transform 0.2s ease;
}

.actions button:hover {
  transform: scale(1.03);
}

.wishlist {
  transition: transform 0.3s ease, color 0.3s ease;
}

.wishlist:hover {
  transform: scale(1.3);
  color: red;
}



/*================ footer ============================*/

footer {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.footer-container div {
  flex: 1 1 250px;
  margin: 10px;
}

.footer-about p {
  margin-top: 10px;
  line-height: 1.6;
  color: #ccc;
}

.footer-links ul {
  list-style: none;
  margin-top: 10px;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #2b7cff;
}

.footer-social .social-icons a {
  display: inline-block;
  margin-right: 10px;
  
}

.footer-social .social-icons a {
  color: white;
}

.footer-social .social-icons img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: #888;
  font-size: 14px;
}



